<header class="main-header">
    <a ui-sref="dashboard" class="logo">
        <span class="logo-mini">appserver.io</span>
        <span class="logo-lg">appserver.io</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li back-button>
                    <a>
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </li>
                
                <li *ngIf="loginService.isAuthenticated">
                    <a href (click)="logout($event)"><i class="fa fa-sign-out"></i></a>
                </li>
                <!--<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>
